version: 2
jobs:
  build:
    working_directory: ~/eslint-config-spoke
    docker:
      - image: cimg/node:16.17
    steps:
      - checkout
      - run:
          name: Link npmrc
          command: |
              echo "@spoke-ph:registry=https://registry.npmjs.org/" >> ~/.npmrc
              echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: NPM Install
          command: npm ci
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules
      - deploy:
          name: NPM Publish
          command: |
              if [[ ("${CIRCLE_BRANCH}" == "master") && ($VERSION != *"SNAPSHOT") ]]; then
                echo "@spoke-ph:registry=https://registry.npmjs.org/" >> ~/.npmrc
                echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
                npm --loglevel silent run version | xargs -I {} git tag "v{}"
                git push origin --tags
                npm publish
              else
                echo "Skip as branch not master"
              fi

workflows:
  version: 2
  Build_Test:
    jobs:
      - build:
          context: org-global
